*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    
    font-family: "font","Microsoft Yahei";
    position: relative;
    height: 100%;
    background-color: #000;
}
#menu{

    position: fixed;
    font-family: "font","Microsoft Yahei"; 
    display: flex;
    flex-direction: row;  
    position: fixed;
    z-index: 999;
    width: 100%;
}

ul, ol{
    list-style: none;
}

.M_principal li a{
    background-image: url(../img/menu/kv_top.png);
    color: #fff;
    text-decoration: none;
    padding: 1rem 1.5rem;
    display: block;
    width:100%;
}

.M_principal li a:hover{
    color: orange;
}

.M_principal > li{
    float: left;
}

.M_principal li ul{
    display: none;
   position: absolute;
   min-width: 140px;
}

.M_principal li:hover > ul{
    display: block;
}

.icon, .purchase img{
    width: 4.5rem;
    display: block;
    margin: 0 auto;
    height: 1.3rem;
}
.logos img{
    width: 5rem;
    height: 1rem;
}
.juega_ahora img{
    width: 8rem;
    display: block;
    margin: 0 auto;
    height: 3.3rem;
}
.juega_ahora li {
    position: relative;
    left: -15px;
    top: 0px;
}

.espacios{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.espacio_1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.juega a{
    background-image: none;
    background-image: url(../img/menu/kv_btn.png);
    text-align: center;
}

.comunidad{
    content-visibility: hidden;
}

.idiomas{
    content-visibility: hidden;
}
.purchase{
    content-visibility: hidden;
}
.PC{
    content-visibility: hidden;
}
.contenido{
    content-visibility: hidden;
}
.tlfnf{
    display: block;
    height: 80rem;
    background-repeat: no-repeat;
}

.Magia_M{
    content-visibility: visible;
    position: absolute;
    top: 40rem;
    left: 0rem;
    width: 100%;

}
.slogan{
    content-visibility: hidden;
}

.vdtc{
    display: none; 
    object-fit: cover;
    overflow: hidden;
  
}

.vdtc video{
    width: 100%;
    height: 52%;
}
.juega_ahora img{
    width: 8rem;
    display: block;
    margin: 0 auto;
    height: 3.3rem;
}
.juega_ahora li {
    position: relative;
    left: -15px;
    top: 0px;
}

.espacios{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.espacio_1{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.juega a{
    background-image: none;
    background-image: url(../img/menu/kv_btn.png);
    text-align: center;
}


/*parte 1*/
.bg1{
    background-image: url(../img/backgraund/part1.png);

    margin-top: -0.2rem;
}

.un{
    font-family: 'bold';
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
    text-align: center;
}
.un p{
    margin-top: 1rem;
}
.part{
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
    margin-top: 0.01rem;
}


.carousel{
    height: 20rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.carousel:hover{
    cursor:pointer;
}


.carousel img{
    display: flex;
    height: 15rem;
    width: 31rem;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.carousel h2{
    text-decoration: none;
    color: #fff;
}
.tarj{
    display: flex;
    flex-direction: column;
    width: 100%s;
}

.slide {
    display: flex;
    float: left;
    width: 100%;
    height: 500%;
    animation: slide1 10s infinite ease-in-out;
}

@keyframes slide1 {
    0% {
        transform: translateX(0%);
    }
    20%{
        transform: translateX(-50%);
    }
    30%{
        transform: translateX(-100%);
    }
    
    40%{
        transform: translateX(-150%);
    }
    60%{
        transform: translateX(-200%);
    }

    
    70%{
        transform: translateX(-250%);
    }
    80%{
        transform: translateX(-300%);
    }

    
    100%{
        transform: translateX(0%);
    }
}




#contenedor_lin{
    position: relative;
    bottom: 20rem;
    left: 46rem;
    right: 0;
    width: 20em;
    cursor: pointer; 
    z-index: 99;
    text-align: right;
}

.bg_ry{
    width: 0.72rem;
    border-radius: 0;
    margin-left: 0.1rem;
    
}

.rayita_C{
    width: 33px;
    height: 2px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: 0.2;
    
}
.pti{
    background-image: url(../img/mundofantasia/part2_icon2.png) ;
}
.ptit{
    background-image: url(../img/mundofantasia/part2_icon2.png) ;
}
/*parte 2*/
.bg2{
    background-image: url(../img/backgraund/part2.jpg);
    padding: 1rem;
}

.Un_F{
    font-family: 'bold';
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    margin: 2rem 0.5rem 0.5rem;
    overflow: hidden;
    text-align: right;
}

.UnM_F2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text_2{
    color: #fff;
    opacity: 0.5;
    text-align: center;
}

.boton_2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton_2 img{
    margin-top: -28rem;
    height: 10rem;
    width: 7rem;
}

.boton_2 img:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}
/*parte 3*/
.bg3{
    background-image: url(../img/backgraund/part3.jpg);
    padding: 1rem;
}

.InnCF{
    font-family: 'bold';
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    margin: 2rem 0.5rem 0.5rem 1.5rem;
    overflow: hidden;
    text-align: center;
}

.texto_P3 p{
color: #fff;
opacity: 0.5;
text-align: center;
text-decoration: none;

}

.texto_P3 a{
    text-align: center;
    margin:auto;
    padding: 1rem;
    cursor: default;
    z-index: 30;
}
.cont_3{
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}
.info_3{
    text-decoration: none;
    color: #000;
    font-weight: 900;
    margin: 1rem;
    background-image: url(../img/antesdelfooter/part5_submit.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    display: block;

}
.info_3:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.big_3{
    background-image: url(../img/inumerablescriaturas/part3_bg.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.slider-frame img{
    width: 100%;
}
.slider-frame{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;

    animation: slide2 6s infinite alternate ease-in-out;
}


.slider-frame ul{
    display: flex;
    padding: 0;
    width: 100%;
}

.slider-frame li{
    list-style: none;
    width: 200%;
}

.slider-frame img{
    width: 100%;
}

 @keyframes slide2{
    0% {margin-left:0% }
    20% {margin-left:0% }

    25% {margin-left:100% }
    45% {margin-left:150% }

    50% {margin-left:200 }
    100% {margin-left:200 }

} 

/*parte 4*/
.bg4{
    background-image: url(../img/backgraund/part4.jpg);
    padding: 1rem;
}

.lo_ult{
    font-family: 'bold';
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    margin: 1rem auto;
    text-align: right;
    letter-spacing: 2px;
    position: relative;
    right: 3rem;
    top: 3rem;
}

.fil_4 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin-top: 3rem;
}

.pf_4{
    width: 20rem;
    height: 10rem;
    margin: 0 .5rem;
    margin-top: 1rem;
    z-index: 2;
    background-image: url(../img/loultimo/f1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pf_4:hover{
    background-color: rgb(238, 106, 11);
    transition: all 0.5s;
    z-index: 11;
}
.fil_4 a{
    text-decoration: none;
    color: #fff;
    width: 25rem;
    padding-right: 4rem;
    position: relative;
}

.fil_4 h2{
    font-family: 'bold'; 
    color: #fff; 
   font-size: 1.5rem; 
   overflow: hidden;
   text-overflow:ellipsis; 
   white-space: nowrap;
}

.fil_4 p{
    font-size: 1rem;
    opacity: 0.5;
    font-family: "font2";
    overflow: hidden;
}

.pg_Fc{
    text-decoration: none;
    color: #d07a15;
    margin-left: 6rem;
    font-family: "font","Microsoft Yahei";
    font-size: 1.3rem;
    display: none;
}

.pg_Fc img{
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 8rem;
    margin-left: .4rem;
    display: none;
}

/*parte 5*/
.bg5{
    background-image: url(../img/backgraund/part5.jpg);
    height: 61rem;
    background-size: cover;
}

.CZ_D {
    width: 35rem;
    height: 41rem;
    position: absolute;
    top: 8.45rem;
    right: 0px;
    display: none;
    z-index: 0;
}

.pt_5{
    margin: 2rem 0 2rem 9rem;

}
.Recibe_N{
    font-family: 'bold';
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    width: 50rem;
    letter-spacing: 5px;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 100%;
}


.parte5_EF{
    width: 33rem;
    transition: all 0.5s;
    z-index: 10;
    margin: 3rem 8rem;
}

.P_P5{
    font-size: 1.2rem;
    color: #fff;
    opacity: 0.5;
    font-family: "font2";
}

.cont_F5{
    margin: 1rem;
}

.email_5{
    width: 31rem;
    padding: 1rem;
    font-size: 1.2rem;
    background-image: url(../img/antesdelfooter/part5_input.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: transparent;
    border: none;
}

.codigo_V{
    background-image: url(../img/antesdelfooter/part5_input.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin: 1rem 0;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clave_p{
    width: 50%;
    height: 70%;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
}

.btt_C{
    text-decoration: none;
    color: #d07a15;
    text-align: center;
    margin: 0 auto;
}

.condiciones{
    font-size: 1.2rem;
    color: #fff;
    opacity: 0.5;
    font-family: "font2";
}

.condiciones a{
    color: #fff;
}

.send{
    text-decoration: none;
    color: #000;
    font-weight: 900;
    margin: 1rem;
    background-image: url(../img/antesdelfooter/part5_submit.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 10rem;
    padding: 1rem;
    text-align: center;
    display: block;

}
.send:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

/*paginas*/
.pags_5{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;
margin: 5rem 0rem;
}

.lins{
    height: 3rem;
    transition: all 0.5s;
    overflow: hidden;
}

.pagg{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
}

.pagg a:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}


/* footer*/
.bg6{
    height: 8.2rem;
    background-color: #171614;
}
.Ftt{
    height: 1.7rem;
    width: 100%;
    position: relative;
}

.cont_F{
    padding: 1rem 0 1rem 0;
    width: 100%;
    text-align: center;
    direction: ltr;
    color: #fff;
}
.Privc a{
    text-decoration: none;
    color: #fff;
}

.Privc a:hover{
    text-decoration:underline;
}

@media (min-width: 768px){
   
    .comunidad{
        content-visibility: visible;
    }

    .idiomas{
        content-visibility: visible;
    }

    .purchase{
        content-visibility: visible;
    }
    .contenido{
        content-visibility: visible;
    }
    .PC{
        content-visibility: visible;
    }
    .tlfnf{
        display:none;
    }

    .vdtc{
        display: block;
       
        }
    .CZ_D{
        display: block;
    }
    .slider-frame{
        display: block;
    }
    .Un_F{
        text-align: center;
        margin: 0;
    }
    .texto_P3 p{
        margin: 0rem 10rem;
    }
    .UnM_F2{
        flex-direction: row;
    }
    .fil_4 p{
        margin: .5rem auto .5rem;
    }
    .pg_Fc {
        display: block;
    }
    .pg_Fc img{
        display: block;
    }
    .cont_3{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
    .parte5_EF{
        margin: 0 9rem;

    }
    .pags_5{
        margin-top: 17rem;
    }

    .Magia_M{
        content-visibility: hidden;
    }
    .slogan{
        content-visibility: visible;
        background: transparent;
        position: absolute;
        top: 35rem;
        right: 5rem;
        text-align: center;
        font-family: 'bold';
        font-size: 4rem;
        font-weight: bold;
        color: #fff;
        overflow: hidden;
        text-align: center;
    }
}