:root{
    --fondo: #17b2e3;
    --primario:#3660f7;
    --secundario:#04d1d4;
    --titulos:#c0e5f6;
    --blanco:#fff;
    --negro: #000000;
    --fuente-principal:'staatliches';
}
body{
    background-color: var(--fondo);
}
html{
    font-family: var(--fuente-principal);
    box-sizing: border-box;
    width: 100%;
}
.img_dir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    
    }
.navbar{
    background-color: var(--primario);
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

.enlace{
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: var(--fuente-principal);
}

.enlace:hover{
    color: var(--secundario);
}


h1,p{
    color: var(--blanco);
    text-align: center;
}
p{
    font-size: 1.5rem;
}

.formulario{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    max-width: 100%;
}


.seleccionador{
    border: 1rem solid var(--primario);
    background-color: transparent;
    color: var(--negro);
    font-size: 2rem;
    padding: 1rem;
    appearance: none;
    text-align: center;
    text-transform: uppercase;

}

.seleccionador:hover{
    box-shadow: 2px 2px 24px -3px rgba(0,0,0,0.75);
}

.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    padding: 2rem;
    transition: background-color .3s ease;
    grid-column: 1/3;
    margin: 0 10rem;
}

.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--primario);
    box-shadow: 2px 2px 24px -3px rgba(0,0,0,0.75);
}

.footer{
    background-color: var(--primario);
    padding: 1rem 0;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 2.2rem; 
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuente-principal);
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imm{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
}
.contededortexto-formulario{
    max-width: 100rem;
    display: flex;
    flex-direction: column;
}

@media (min-width:768px){
    .Pro{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;    
    }

}