body {
    background-image: linear-gradient(to right, #684a16 0%, #b15500 50%, #502b2b 100%);

    color: #333; 
    font-family: Arial, sans-serif; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    height: 100vh; 
    margin: 0; 
}

.container {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    width: 90%; 
    max-width: 800px; 
}

    h1 {
        color: #553622; 
        text-align: center; 
        font-size: 2.5em; 
        margin-bottom: 20px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
        letter-spacing: 1px; 
    }

h3 {
    color: #9c1818; 
    text-align: center;
    margin-bottom: 20px; 
    text-transform: uppercase;
}

.column {
   flex-basis: calc(50% - 10px); 
   margin-bottom: 20px; 
}

.row {
   display: flex;
   justify-content: space-between; 
   flex-direction: column;
   align-items: center;
}

.buton-group {
   display: flex;
   justify-content: center; 
   margin-top: 20px; 
}

.button-primario {
   background-color: #e67e22; 
   color: white;
   border: none;
   border-radius: 5px;
   margin-right: 10px; 
   transition: background-color 0.3s ease;
}

.button-primario:hover {
   background-color: #d35400; 
}

.checkboxes {
   display: flex;
   justify-content: center;
   flex-direction: row;
   align-items: center;
}

.checkbox-group {
   display: flex;
   align-items: center; 
   margin-right: 15px; 
}
.radios{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.radio-G{
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}
.error {
   color: red; 
   text-align: center;
   background-color: rgba(119, 41, 41, 0.993); 
   padding: 10px;
   border-radius: 5px;
   display: none; 
   margin-top: 20px;
}

.result {
   background-color: #f2d4b6; 
   border-radius: 5px;
   padding: 10px;
   text-align: center; 
   margin-top: 20px; 
   display: none; 
}
.tooltip {
    position: relative;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 160px; /* Ancho del tooltip */
    background-color: #555; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    
    /* Posicionamiento del tooltip */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Colocar arriba del elemento */
    left: 50%;
    margin-left: -80px; /* Centrar el tooltip */
    
    /* Transiciones */
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.3s;
}

/* Mostrar el tooltip al pasar el mouse */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; /* Hacer visible */
}

footer {
   text-align: center;
margin: 2rem;
}